.DS_Store
.venv/
.uv-cache/
__pycache__/
*.py[cod]
*.egg-info/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/

# Local scores and generated results may contain copyrighted or private data.
/scores/
/output/
